# fly.toml app configuration file generated for modikodi-bridge on 2026-02-09T09:35:56+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'modikodi-bridge'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 7515
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
